* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
   /* height: 100%; */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimentos padrão */
    display: flex;
    flex-direction: column;
}

body {
    background: linear-gradient(
        180deg, 
        rgba(29, 12, 32, 0.70) 6%, 
        rgba(112, 55, 205, 0.30) 46.5%, 
        #651F71 99%
    );
}


.content-header {
    width: 100%;
    margin: 0 auto; /* Centraliza o conteúdo */
    padding: 38px 80px; 
    background: #1D0C20; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
}

.name {
    color: #68B2F8; 
    font-size: 35px; 
    font-family: "Exo 2", sans-serif; 
    font-weight: 700; 
    line-height: 52.50px; 
    word-wrap: break-word;
}

.navigation {
    flex: 1 1 0; 
    align-self: stretch; 
    justify-content: flex-end; 
    align-items: center; 
    gap: 48px; 
    display: inline-flex;
}

.buttons {
    color: #68B2F8; 
    font-size: 20px; 
    font-family: "Lato", sans-serif; 
    font-weight: 500; 
    line-height: 30px; 
    word-wrap: break-word;
}

.button-contact {
    padding-left: 24px; 
    padding-right: 24px; 
    padding-top: 14px; 
    padding-bottom: 14px; 
    background: #506EE5; 
    box-shadow: 0px 1px 2px 
    rgba(0, 0, 0, 0.05); 
    border-radius: 8px; 
    justify-content: center; 
    align-items: center; 
    gap: 8px; 
    display: flex;
}

.contact-me {
    color: #1D0C20; 
    font-size: 16px; 
    font-family: "Lato", sans-serif; 
    font-weight: 500; 
    line-height: 24px; 
    word-wrap: break-word;
}

.sections {
    display: flex;
    width: 500px;
    height: 95px;
    padding: 6px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    margin-top: 100px;
}

.first-section{
    color: white; 
    font-size: 40px; 
    font-family: "Lato", sans-serif; 
    font-weight: 500; 
    word-wrap: break-word;
}

.content-section {
    display: flex;
    justify-content: center;
}

.about {
    margin-top: 100px;
    display: flex;
}

.apresentation {
    padding-left: 50px;
}

.links-about {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    transform: translateX(150%);
}

.second-section{
    color: white; 
    font-size: 40px; 
    font-family: "Lato", sans-serif; 
    font-weight: 500; 
    word-wrap: break-word;
    margin-top: 100px;
}

.knowledge {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
}

.block {
    flex: 1 1 calc(33.333% - 40px);
    width: 451px; 
    height: 520px; 
    background: rgba(101, 31, 113, 0.22); 
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

@media (max-width: 1200px) {
    .block {
        flex: 1 1 calc(50% - 40px); /* Cada bloco ocupa metade da largura menos o espaçamento */
    }
}

@media (max-width: 800px) {
    .block {
        flex: 1 1 calc(100% - 40px); /* Cada bloco ocupa toda a largura menos o espaçamento */
    }
}

.text-blocks {
    color: #1D0C20; 
    font-size: 40px; 
    font-family: "Exo 2", sans-serif; 
    font-weight: 500; 
    word-wrap: break-word;
    text-align: initial;
}


.abilities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
}

